body{
    /*! padding-top:70px; */
    font-family: 'Maven Pro', sans-serif;
}
header .navbar-brand {
    background: #ec1c24;
    color: #fff !important;
    font-weight: bold;
    padding: 0;
    height: auto;
    font-size: 24px;
    border-right: 1px solid #000;
}

header .jp-audio, .jp-audio-stream, .jp-video {
    border: 1px solid #ec1c24;
}
header .jp-audio-stream {
    width: 100px;
}
header .jp-interface {
    background-color: #ec1c24;
    height: 70px!important;
}
header .jp-state-playing .jp-interface {
    background-size: cover;
    /*background-image: url('http://172.17.170.46/jagofm/public/media/common/phy.gif');*/
}





header .navbar-brand:focus,
header .navbar-brand:hover{
    background: #ec1c24!important;
}


header .navbar-nav li a{
    color: #fff!important;
}
header .navbar-nav li a i {
    padding-right: 2px;
    color: #787878;
}

header .navbar-nav > li > a{
    padding-top:25px;
    padding-bottom:25px;
}
header .navbar-nav > li.dropdown ul {
    background: #ec1c24;
    border: none;
    padding:0;
}
header .navbar-nav > li.dropdown > ul > li > a {
    text-indent: 0;
    padding: 10px 15px;
    border-bottom: 1px solid #ec1c24;
    color: #fff;
}
header .navbar-nav > li.dropdown > ul > li > a i{
    color: #fff;
}
header .navbar-nav a:hover,
header .navbar-nav > .open > a,
header .navbar-nav > .open > a:focus,
header .navbar-nav > .open > a:hover{
    background: #bb0909 !important;
    color: #fff;
}
header .navbar-nav a:hover i,
header .navbar-nav > .open > a i,
header .navbar-nav > .open > a:focus i,
header .navbar-nav > .open > a:hover i{
    color: #fff;
}
.qteq {
    position: absolute;
    margin-left: -6px;
    height: 28px;
}
.qteq, .qteq::after, .qteq::before {
    display: block;
    content: " ";
    background: #ffffff;
    width: 12px;
    height: 2px;
    float: left;
    top:35px;
}
.qteq::before {
    background: #ffffff;
    margin-top: -4px;
    width: 16px;
}
.qteq::after {
    background: #ffffff;
    margin-top: 4px;
    width: 16px;
}
header .navbar-nav li a:hover .qteq {
    -webkit-animation: mbar 0.5s forwards;
    animation: mbar 0.5s forwards;
    -webkit-animation-duration: 0.9s;
    animation-duration: 0.9s;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
}
header .navbar-nav li a:hover .qteq::before {
    -webkit-animation: mbar 0.32s forwards;
    animation: mbar 0.32s forwards;
    -webkit-animation-duration: 1.22s;
    animation-duration: 1.22s;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
}
header .navbar-nav li a:hover .qteq::after {
    background: #ffffff;
    margin-top: 4px;
    width: 16px;
    -webkit-animation: mbar 1s forwards;
    animation: mbar 1s forwards;
    -webkit-animation-duration: 1.1s;
    animation-duration: 1.1s;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
}
header .download{
    position: fixed;
    top: 100px;
    right: 15px;
    z-index: 1000;
}
header .download button{
    border: none;
    border-radius: 0;
    position: absolute;
    right: 0;
}

header .stream button:focus,
header .download button:focus{
    outline: none;
}
header .stream p,
header .download p{
    margin-top: 32px;
    display: none;
}
header .stream p a,
header .download p a{
    background: #222;
    display: block;
    color: #fff;
    padding: 7px 10px;
    border-top: 1px solid #000;
    text-decoration: none;
}
header .stream p a:hover,
header .download p a:hover{
    color: #ec1c24;
    background: #000;
}
header .stream{
    position: fixed;
    bottom:0;
    left: 0;
    z-index: 10000000;
}
header .stream button{
    border: none;
    border-radius: 0;
    position: absolute;
    left: 0;
}
header .download p i{}
.nav-social{
    margin-right: 30px!important;
}
.nav-social li{}
.nav-social li a{
    padding: 24px 8px!important;
}
.nav-social li a:hover{
    background: none!important;
}
.nav-social img{
    height: 22px;
    -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
    filter: grayscale(100%);
}
.nav-social li a:hover img{
    -webkit-filter: grayscale(0%); /* Safari 6.0 - 9.0 */
    filter: grayscale(0%);
}
@-webkit-keyframes mbar{
    0%{width:16px}
    50%{width:5px}
    100%{width:16px}
}
@keyframes mbar{
    0%{width:16px}
    50%{width:5px}
    100%{width:16px}
}

.FlexRow {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

/*========== Slider CSS ==========*/
.animated  {
    -webkit-animation-duration : 1000ms  ;
    animation-duration : 1000ms  ;
    -webkit-animation-fill-mode : both  ;
    animation-fill-mode : both  ;
}
/* .owl-animated-out - only for current item */
/* This is very important class. Use z-index if you want move Out item above In item */
.owl-animated-out {
    z-index : 1
}
/* .owl-animated-in - only for upcoming item
/* This is very important class. Use z-index if you want move In item above Out item */
.owl-animated-in {
    z-index : 0
}
/* .fadeOut is style taken from Animation.css and this is how it looks in owl.carousel.css:  */
.fadeOut  {
    -webkit-animation-name : fadeOut  ;
    animation-name : fadeOut  ;
}
@-webkit-keyframes  fadeOut  {
    0% {
        opacity : 1   ;
    }
    100% {
        opacity : 0   ;
    }
}
@keyframes  fadeOut  {
    0% {
        opacity : 1   ;
    }
    100% {
        opacity : 0   ;
    }
}
#home .owl-carousel{

}
#home .owl-carousel .owl-item::before{
    background: rgba(0,0,0,0.85);
    content: '';
    position: absolute;
    top:0;
    left:0;
    height:100%;
    width:100%;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}
#home .owl-carousel, .owl-carousel .owl-item.active::before{
    background: rgba(0,0,0,0)!important;
}
#home .owl-theme .owl-nav {
    position: absolute;
    top: 40%;
    width:100%;
}
.slider .owl-prev {
    position: absolute;
    left: 12.5%;
    color: #fff !important;
    font-size: 40px !important;
    border-radius: 50% !important;
}
.slider .owl-prev span{
    background: #000 !important;
    display: block;
    width: 50px;
    height: 50px;
    border-radius: 50% !important;
    line-height:45px;
    box-shadow: 0 0 15px 0 #363636;
}
.slider .owl-next {
    position: absolute;
    right:12.5%;
    color: #fff !important;
    font-size: 40px !important;
    border-radius: 50% !important;
}
.slider .owl-next span {
    background: #000 !important;
    display: block;
    width: 50px;
    height: 50px;
    border-radius: 50% !important;
    line-height: 45px;
    box-shadow: 0 0 15px 0 #363636;
}
/*.slider .owl-theme .owl-dots{
    position: absolute;
    bottom: 5px;
    left: 50%;
    transform: translatex(-50%);
    width:100%;
}*/
.slider .owl-theme .owl-dots {
    position: absolute;
    right: 60px;
    text-align: right;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    transform: translateY(-50%);
}
.slider .owl-theme .owl-dots .owl-dot {
    display: block;
}
.slider .owl-theme .owl-dots .owl-dot span {
    width: 10px;
    height: 10px;
    margin: 8px 3px;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 50%;
    background-clip: padding-box;
    background: #fff;
    position: relative;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}
.slider .owl-theme .owl-dots .owl-dot span::after {
    position: absolute;
    top: -6px; bottom: -6px;
    left: -6px; right: -6px;
    /*background: linear-gradient(45deg, #bb0909, #000000, #f00);*/
    content: '';
    z-index: -1;
    border-radius: 50%;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}

.slider .owl-theme .owl-dots .owl-dot.active span{
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -ms-transform: scale(1.2);
    -o-transform: scale(1.2);
    transform: scale(1.2);
}
.slider .owl-theme .owl-dots .owl-dot.active span::after{
    -webkit-box-shadow: 0 0 50px 5px #fff;
    -moz-box-shadow: 0 0 50px 5px #fff;
    box-shadow: 0 0 50px 5px #fff;
    /*background: linear-gradient(45deg, #bb0909, #000000, #f00);*/
    /*background: red;*/
}
.slider .owl-theme .owl-dots .owl-dot:focus{
    outline: none;
}
.slider .owl-carousel .owl-stage-outer {
    margin-bottom: -2px!important;
}
/*========== videos CSS ==========*/
.videos{
    color: #fff;
    padding: 70px 0 70px;
}
.videos .single-video{
    border: 4px double #3e3e3e;
    padding: 5px;
    position: relative;
    margin-bottom: 30px;
}
.videos img{
    cursor: pointer;
    width:100%;
}
.videos .single-video .video-icon {
    position: absolute;
    width: 40px;
    height: 35px;
    background: rgba(0,0,0,0.5);
    text-align: center;
    line-height: 36px;
    border-radius: 6px;
    padding-left: 4px;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    color: #fff;
    cursor: pointer;
}
.videos .not-visible{
    display: none;
}
.videos #show-video-button,
.videos #hide-video-button{
    margin-top: 30px;
    border: 4px solid #ff7773;
}
.videos .single-video:hover .video-icon{
    background: #ec1c24;
}
/*========== scroll to top CSS ==========*/
.scroll-top-wrapper{position:fixed;opacity:0;visibility:hidden;overflow:hidden;text-align:center;z-index:99999999;color:#f3151c;width:30px;height:30px;border:2px solid #f3151c;line-height:20px;right:30px;bottom:30px;padding-top:2px;border-radius:50px;-webkit-transition:all 0.3s ease-in-out;-moz-transition:all 0.3s ease-in-out;-o-transition:all 0.3s ease-in-out;transition:all 0.3s ease-in-out;}
.scroll-top-wrapper:hover{color:#8d0f0f;border:2px solid #8d0f0f;}
.scroll-top-wrapper.show{visibility:visible;cursor:pointer;opacity:1.0;}
.scroll-top-wrapper i.fa{line-height:inherit;font-size:20px;}
/*===== RJ Profile css =====*/
.rj-profile{
    padding-top: 80px;
    margin-bottom: 50px;
}
.rj-profile .single-rj {
    margin-bottom: 30px;
    display: block;
    background: linear-gradient(to right, #ec1c24 50%, #fff 0%);
    overflow: hidden;
    text-decoration: none;
}
.rj-profile .rj-name {
    padding: 5px 0;
    text-align: center;
    /*margin: -1px 5px;
    color: #d10909;
    border: 4px double #d10909;
    transform: skew(-15deg);
    background: #fff;*/
    background-position: 50%;
    -webkit-transition: propall 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
    background: #000;
    margin:-1px 0;
    color: #fff;
    transform: skew(0deg);
    border: 4px double #333;
}
.rj-profile .single-rj:hover .rj-name{
    border: 4px double #3a3a3a;
    background: #3a3a3a;
}

/*===== RjModal css =====*/
#RjModal{
    background-color: #000;
}
#RjModal .modal-content{
    background: transparent;
}
#RjModal .modal-header {
    position: fixed;
    background: #3a3a3a;
    width: 100%;
    line-height: 36px;
    padding: 20px 0;
    right: 0;
    top: 0;
    color: #fff;
    z-index: 1;
    border: none;
}
#RjModal .modal-header .close{
    padding: 0;
    position: inherit;
    float: none;
    display: block;
    width: 100%;
    color: #fff;
    opacity: 1;
    text-align: left;
}
#RjModal .modal-header .close:focus{
    outline: none;
}
#RjModal .modal-header .close i{
    font-size:12px;
}
#RjModal .rj-info{}
#RjModal .rj-info .FlexRow .col-sm-5,
#RjModal .rj-info .FlexRow .col-sm-7,
#RjModal .rj-info .FlexRow .col-sm-9,
#RjModal .rj-info .FlexRow .col-sm-3{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;

}
#RjModal .rj-info .rj-image{
    margin-top: 50px;
    margin-bottom: 50px;
    color: #fff;
    text-align: center;
}

#RjModal .rj-info .rj-image img{}
#RjModal .rj-info .box-block{
    width: 100%;
    margin-bottom: 30px;
}
#RjModal .rj-info .box-block.bg-black{
    background: #343434;
    color: #fff;
}
#RjModal .rj-info .box-block.bg-white{
    background: #f3f3f3;
}
#RjModal .rj-info .box-block.bg-white .block-titile{
    background: #ededed;
}
#RjModal .rj-info .box-block.bg-black .block-titile{
    background: #3c3c3c;
}
#RjModal .rj-info .box-block .block-titile{
    padding: 15px;
    margin: 0;
}
#RjModal .rj-info .box-block .details{
    padding: 15px;
}
#RjModal .rj-info-body .social-list{}
#RjModal .rj-info-body .social-list a{
    display: inline-block;
    color: #fff;
    border-radius: 0px;
    font-size: 12px;
    opacity: 0.9;
    text-decoration: none;
    margin-bottom: 10px;
    background: #686868!important;
}
#RjModal .rj-info-body .social-list a.facebook{
    background: #2d609b;
}
#RjModal .rj-info-body .social-list a.twitter{
    background: #00c3f3;
}
#RjModal .rj-info-body .social-list a.google-plus{
    background: #dd4b39;
}
#RjModal .rj-info-body .social-list i{
    padding: 15px;
    border-right: 1px solid #7a7a7a;
    width: 40px;
}
#RjModal .rj-info-body .social-list a:hover{
    opacity: 1;
}

/*===== .event css =====*/
.event{
    background: #222;
    color: #fff;
    padding: 30px 0 50px;
}
.event img{
    width: 100%;
    margin-bottom: 15px;
}
.event h4 {
    margin-top: 0;
    line-height: 22px;
    font-size: 16px;
}
.event p{
    line-height:24px;
    color:#b5b5b5;
}
.event a{
    text-decoration: none;
}
.event .col-sm-6:hover p{
    color: #fff;
}


/*===== .contactus css =====*/
.contactus {
    color: #fff;
    padding: 20px 0 30px;
}
.contactus p{
    color: #fcfcfc;
}
.contactus a{
    color: #ec1c24;
}
.contactus a:hover{}

/*===== social-media css =====*/
.social-media{}
.social-media a {
    width: 34px;
    height: 34px;
    background: #fff;
    color: #000;
    border-radius: 50%;
    display: inline-block;
    text-align: center;
    line-height: 34px;
}
.social-media i{}
.social-media a:hover{
    color: #fff;
    background: #000;
}

/*===== footer-bottom css =====*/
.footer-bottom{
    padding: 30px 0 100px;
}
.footer-bottom a {
    color: #fff;
    font-weight: bold;
}
.footer-bottom a:hover{
    color: #ec1c24;
}
.footer-bottom p{
    color: #afafaf;
}

/*===== About css =====*/
.about{
    color: #fff;
    padding: 100px 0 70px;
}
.about p{
    font-size:16px;
    line-height: 1.5;
}
/*===== share-box css =====*/
.share-box {
    text-align: center;
    padding-top: 25px;
}
.share-box a {
    display: inline-block;
    color: #fff;
    border-radius: 50%;
    font-size: 12px;
    opacity: 0.9;
    text-decoration: none;
    width: 34px;
    height: 34px;
    text-align: center;
    line-height: 34px;
}
.share-box a.facebook{
    background: #2d609b;
}
.share-box a.twitter{
    background: #00c3f3;
}
.share-box a.google-plus{
    background: #dd4b39;
}
.share-box a:hover{
    opacity: 1;
}



/*========== Audio stream CSS ==========*/
#visbox {
    height: 200px;
    width: 100%;
    bottom: 0;
    left: 0;
    right: 0;
    position: fixed;
    padding: 0;
    margin: 0;
    z-index: 0;
}
.stream-ongoing #visbox{
    z-index: 1000000!important;
}
#music {
    position: fixed;
    top: 75px;
    left: 50%;
    margin-left: -150px;
    z-index: 10000000;
}

/*========== Todays CSS ==========*/
.todays-programs {
    padding: 70px 0;
    background-position: center;
    background-color: #ec1c24;
    background-attachment:fixed;
}
h2.title {
    /*font-family: 'Fredericka the Great', cursive;*/
    font-family: 'Maven Pro', sans-serif;
    margin-bottom: 30px;
    font-weight: bold;
    font-size: 34px;
    text-shadow: 0 1px 0 black;
    color: #000;
   /* background-image: url(../../../media/imgAll/texture-2.png);
    background-repeat:repeat-x;
    -webkit-background-clip: text;
    -webkit-animation:animate 15s linear infinite;
    -o-animation:animate 15s linear infinite;
    animation:animate 15s linear infinite;*/
}
h2.title.reverse {
    /*font-family: 'Fredericka the Great', cursive;*/
    font-family: 'Maven Pro', sans-serif;
    margin-bottom: 30px;
    font-weight: bold;
    color: #fff;
    font-size: 34px;
    text-shadow: 0 1px 0 black;
}
@keyframes animate {
    0%{background-position: left 0px top 10px;}
    50%{background-position: left 800px top 10px;}
    100%{background-position: left 0px top 10px;}
}
.todays-programs .single-program {
    background: #222;
    color: #fff;
    margin-bottom: 20px;
    /*font-family: cursive;*/
}
.todays-programs .single-program strong {
    text-align: center;
    display: block;
    padding-top: 55%;
    padding-left: 30px;
    font-size: 46px;
}
.todays-programs .single-program img{
    width:100%;
}
.todays-programs .single-program .schedule{}
.todays-programs .single-program .schedule h4 {
    margin-top: 30px;
    font-weight: bold;
    font-size: 20px;
    color: #F44336;
    font-family: 'Maven Pro', sans-serif;
}
.todays-programs .single-program .schedule p{}
.todays-programs .single-program .rj-names{
    margin-top:30px;
}
.todays-programs .single-program .rj-names p{}

/*=========== _countdown-schedules css ===========*/
._countdown-schedules {
    padding: 50px 0 100px;
}
._countdown-schedules .nav-tabs {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    position: relative;
    overflow-x: auto;
    overflow-y: hidden;
    height: 55px;
    background-color: #f2f2f2;
    margin-bottom: 20px;
    width: 100%;
    white-space: nowrap;
    font-family: inherit;
    border: none;
}
._countdown-schedules .nav-tabs li {
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    display: block;
    float: left;
    text-align: center;
    padding: 0;
    text-transform: uppercase;
    text-overflow: ellipsis;
    overflow: hidden;
    letter-spacing: .8px;
    width: 15%;
    min-width: 80px;
    position: relative;
}
._countdown-schedules .nav-tabs li.active::before {
    content: "";
    width: 15px;
    height: 15px;
    position: absolute;
    background: white;
    bottom: -8px;
    left: 50%;
    z-index: 10000;
    transform: rotate(45deg);
    margin-left: -8px;
}
._countdown-schedules .nav-tabs li a {
    color: #bb0909;
    display: block;
    width: 100%;
    height: 100%;
    text-overflow: ellipsis;
    overflow: hidden;
    -webkit-transition: color .28s ease;
    transition: color .28s ease;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    padding-top: 17px;
}
._countdown-schedules .nav-tabs > li.active > a,
._countdown-schedules .nav-tabs > li.active > a:focus,
._countdown-schedules .nav-tabs > li.active > a:hover {
    border: none;
    background: #e50000;
    color: #fff;
}
._countdown-schedules .panel{
    margin-top: 0!important;
    margin-bottom: 5px;
    margin-left: 30px;
    border-radius:0;
}
._countdown-schedules .panel .panel-body .v-icon{
    top: 45%;
    left: 50%;
    position: absolute;
    transform: translate(-50%,-50%);
    background: #0000008c;
    color: #fff;
    padding: 5px 13px 5px 15px;
    border-radius: 5px;
    cursor: pointer;
}
._countdown-schedules .panel .panel-body .col-sm-4:hover .v-icon{
    background:red;
}
._countdown-schedules .panel .panel-body{
    border:1px solid #fff;
}
._countdown-schedules .panel .panel-body img{
    width: 100%;
    cursor: pointer;
}
._countdown-schedules .panel-heading{
    padding:0;
    background: #fff;
}
._countdown-schedules .panel-heading.active-faq{
    /*background: #f2f2f2;*/
}
._countdown-schedules .panel:hover .serial{
    background: #000;
    color: #fff;
}
._countdown-schedules .panel-heading > a {
    display: block;
    color: #000;
    text-decoration: none;
    position: relative;
    padding:15px 15px 15px 35px;
}
._countdown-schedules .panel-heading.active-faq > a{
    color:#bb0909 ;
}
._countdown-schedules .panel-heading i.glyphicon {
    color: #dcdcdc !important;
    right: 0;
    top: 0;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    padding-top: 2px;
    text-align: center;
}
._countdown-schedules .panel-heading > a .serial {
    padding-top: 7px;
    color: #000;
    background: #fff;
    display: inline-block;
    width: 35px;
    text-align: center;
    height: 35px;
    border: 1px solid #e2e2e2;
    position: absolute;
    left: -17px;
    border-radius: 50%;
    top: 7px;
    font-size: 18px;
}
._countdown-schedules .panel-heading.active-faq > a .serial {
    animation: pulse 1.5s infinite;
    background: #bb0909;
    color: #fff;
}
._countdown-schedules .not-visible{
    display: none;
}


._countdown-schedules .song-position {
    display: table;
    table-layout: fixed;
    width: 100%;
    text-align: center;
}
._countdown-schedules .song-position span {
    display: table-cell;
    color: #000;
    padding: 15px 5px;
    font-size: 10px;
    border: 1px solid #ccc;
    background: #fff;
}
._countdown-schedules .song-position span:nth-child(1){

}
._countdown-schedules .song-position span:nth-child(2){

}
._countdown-schedules .song-position span:nth-child(3){

}
._countdown-schedules .info{}
._countdown-schedules .info h3{
    margin-top:0;
}
._countdown-schedules .info h4{}
._countdown-schedules .info em{}
._countdown-schedules .info p{}


@-webkit-keyframes pulse {
    0% {
        -moz-box-shadow: 0 0 0 0 rgb(0, 0, 0);
        box-shadow: 0 0 0 0 rgb(0, 0, 0);
    }
    70% {
        -moz-box-shadow: 0 0 0 10px rgba(204,169,44, 0);
        box-shadow: 0 0 0 10px rgba(204,169,44, 0);
    }
    100% {
        -moz-box-shadow: 0 0 0 0 rgba(204,169,44, 0);
        box-shadow: 0 0 0 0 rgba(204,169,44, 0);
    }
}
@keyframes pulse {
    0% {
        -moz-box-shadow: 0 0 0 0 rgb(0, 0, 0);
        box-shadow: 0 0 0 0 rgb(0, 0, 0);
    }
    70% {
        -moz-box-shadow: 0 0 0 10px rgba(204,169,44, 0);
        box-shadow: 0 0 0 10px rgba(204,169,44, 0);
    }
    100% {
        -moz-box-shadow: 0 0 0 0 rgba(204,169,44, 0);
        box-shadow: 0 0 0 0 rgba(204,169,44, 0);
    }
}

/*=========== 7days schedule css ===========*/
._7days-schedules{}
._7days-schedules .nav-tabs {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    position: relative;
    overflow-x: auto;
    overflow-y: hidden;
    height: 48px;
    background-color: #fff;
    margin-bottom: 20px;
    width: 100%;
    white-space: nowrap;
    font-family:inherit;
    border: none;
}
._7days-schedules .nav-tabs li {
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    display: block;
    float: left;
    text-align: center;
    padding: 0;
    text-transform: uppercase;
    text-overflow: ellipsis;
    overflow: hidden;
    letter-spacing: .8px;
     width: 15%;
    min-width: 80px;
}
._7days-schedules .nav-tabs li a {
    color: #ec1c24;
    display: block;
    width: 100%;
    height: 100%;
    text-overflow: ellipsis;
    overflow: hidden;
    -webkit-transition: color .28s ease;
    transition: color .28s ease;
    -webkit-border-radius:0;
    -moz-border-radius:0;
    border-radius:0;
    border-bottom:5px solid transparent;
}
._7days-schedules .nav-tabs > li.active > a,
._7days-schedules .nav-tabs > li.active > a:focus,
._7days-schedules .nav-tabs > li.active > a:hover {
    border: none;
    border-bottom: 5px solid #fff;
    background: #e50000;
    color: #fff;
}
._7days-schedules .tab-content{}
._7days-schedules .tab-content .single-day-item {
    position: relative;
    margin-bottom: 30px;
    padding-bottom: 55%;
    background-size: cover;
    background-position: 100% 100%;
    overflow: hidden;
}
._7days-schedules .tab-content .single-day-item::before{
    width:100%;
    height:100%;
    background: rgba(0,0,0,0.55);
    content: '';
    position: absolute;
}
._7days-schedules .tab-content .single-day-item .front {
    position: absolute;
    color: #fff;
    top: 50%;
    width: 100%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 30px;
}

._7days-schedules .tab-content .single-day-item .front h4 {
    font-size: 22px;
    line-height: 24px;
    z-index: 10;
    width: 100%;
    border-bottom: 1px solid #fff;
    padding-bottom: 15px;
    font-weight: bold;
}
._7days-schedules .tab-content .single-day-item .front span{
    font-size:20px;
}
._7days-schedules .tab-content .single-day-item .back {
    background: #fff;
    position: absolute;
    height: 100%;
    width: 100%;
    opacity:0;
    bottom:-100%;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}
._7days-schedules .tab-content .single-day-item .back h3 {
    background: #ec1c24;
    padding:30px;
    color: #fff;
    margin:0;
}
._7days-schedules .tab-content .single-day-item .back h4{
    padding:15px 30px;
}
._7days-schedules .tab-content .single-day-item .back h4 span{}
._7days-schedules .tab-content .single-day-item:hover .front{
    opacity:0;
}
._7days-schedules .tab-content .single-day-item:hover .back{
    bottom:0;
    opacity:1;
}

/*========= clients css ===========*/
.clients{
    padding: 70px 0 100px;
    background: #f9f9f9;
}
.clients .owl-stage-outer{}
.clients .owl-carousel .owl-item img{

    display: inline-block;
}
.clients .owl-nav{
    position: absolute;
    top: -60px;
    right: 0;
}
.clients .owl-nav button{}
.clients .owl-carousel .owl-item{
    padding-top: 30px;
}
.clients .owl-nav button.owl-prev{}
.clients .owl-nav button.owl-next{}
.clients .owl-nav button:focus{
    outline: none;
}
.clients .owl-nav button span{
    font-size: 32px;
    background: #222;
    height: 38px;
    width: 40px;
    margin-left: 1px;
    display: inline-block;
    color: #fff;
    line-height: 1;
}
.clients .owl-nav button span:hover{
    background: #ec1c24;
}
/*========= pGallery ===========*/
#pGallery {
    padding: 70px 0;
}
.pGallery {}
.pGallery .row{
    margin: 0;
}
.pGallery #links{}
.pGallery  div.col-sm-2,
.pGallery  div.col-sm-1{
    padding: 10px;
    display: block;
    overflow: hidden;
    border: 3px double #e4e4e4;
}

.pGallery .col-sm-2 a.showimage,
.pGallery .col-sm-1 a.showimage{
    display: block;
    background: red;
    padding-bottom: 85%;
    background-size: cover;
    transition:all 0.3s
}
.pGallery .col-sm-2:hover a.showimage,
.pGallery .col-sm-1:hover a.showimage{
    transform: scale(1.2);
}
.pGallery .col-sm-2 a.showimage img,
.pGallery .col-sm-1 a.showimage img{
    width: 100%;
}
.pGallery .not-visible{
    display: none;
}
.pGallery #show-photo-button,
.pGallery #hide-photo-button{
    margin-top: 30px;
    border: 4px solid #ff7773;
}
/*========= Photos ===========*/
#photos{
    padding-top: 1px;
}

@-webkit-keyframes pulse {
    0% {
        -moz-box-shadow: 0 0 0 0 rgb(0, 0, 0);
        box-shadow: 0 0 0 0 rgb(0, 0, 0);
    }
    70% {
        -moz-box-shadow: 0 0 0 10px rgba(204,169,44, 0);
        box-shadow: 0 0 0 10px rgba(204,169,44, 0);
    }
    100% {
        -moz-box-shadow: 0 0 0 0 rgba(204,169,44, 0);
        box-shadow: 0 0 0 0 rgba(204,169,44, 0);
    }
}
@keyframes pulse {
    0% {
        -moz-box-shadow: 0 0 0 0 rgb(0, 0, 0);
        box-shadow: 0 0 0 0 rgb(0, 0, 0);
    }
    70% {
        -moz-box-shadow: 0 0 0 10px rgba(204,169,44, 0);
        box-shadow: 0 0 0 10px rgba(204,169,44, 0);
    }
    100% {
        -moz-box-shadow: 0 0 0 0 rgba(204,169,44, 0);
        box-shadow: 0 0 0 0 rgba(204,169,44, 0);
    }
}
